#header {background: url(images/roomimage.jpg) repeat-x center top;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; background: rgba(0,0,0,0.3);}

/* 헤더 */
.header {height: 327px;}
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s ease; font-family: 'Noto Sans KR', sans-serif;}
.header .header_menu a:hover {color: #ccc;}
.header .header_menu .lastlink{padding-right: 10px;}
.header .header_title {text-align: center; margin-top: 55px;}
.header .header_title h1{
    font-size: 40px; color:#fff;
    background: #56b87f;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    letter-spacing: 2px;
    font-weight:700;
}
.header .header_title .tel{
    font-size: 16px; color:#2c2c2c;
    background: #82cda1;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: -5px;
}
.header .header_title .tel a{
    color:#fff;
    text-decoration: none;
}
.header .header_title .tel a:hover {color: #ccc;}
/* media query*/
@media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}
}
